.form-group {
  display: grid;
  gap: 1em;
  margin-bottom: 1em;
}

.form-field {
  background-color: #c8ffbe;
  display: grid;
}

input,
textarea {
  font: inherit;
  color: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  background-color: #edffff;
  border-radius: 0.25em;
  border: none;
  border-bottom: 2px solid black;
}

textarea {
  resize: vertical;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus {
  background-color: #ffff8a;
  outline: none;
  border: #008cff ridge 0.25em;
}

input[type="number"] {
  width: 3em;
}

.inline-field {
  display: flex;
  justify-content: flex-start;
}

input[type="checkbox"], input[type="radio"] {
  margin-left: 1em;
  margin-right: 0.25em;
}

input[type="reset"], input[type="submit"] {
  width: 100%;
  border: 0.15em solid black;
  border-radius: 1em;
  margin-top: 0.25em;
  color: #ffff8a;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="reset"] {
  background-color: #8b0000;
}

input[type="reset"]:hover {
  background-color: #740000;
}

input[type="submit"] {
  background-color: #008321;
}

input[type="submit"]:hover{
  background-color: #006319;
}

@media (min-width: 480px) {
  .form-group {
    grid-template-columns: 1fr 1fr;
  }
}